@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Arial', sans-serif; /* Set a clean font */
  background-color: #f4f4f4; /* Set a light background */
  color: #333; /* Set a default text color */
}

h1, h2, h3 {
  color: #007bff; /* Set a primary color for headings */
}